/*---- GLOBAL STYLES ---- */

/* Roboto: clean and functional */
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ---- COMMON ----  */

h1 {
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  font-size: 160%;
  text-transform: uppercase;
}

h2 {
  font-size: 120%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* landing */

header {
  background-image: url("../images/landing-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

/* only display landing page for larger devices */
@media (min-width: 768px) {
  header {
    height: 100vh;
  }
}

/* NAVBAR */

#navbar .nav-link:hover {
  color: #fff;
}

#navbar .nav-link {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}

#navbar a.navbar-brand {
  padding-left: 0.1rem;
  padding-top: 0.5rem;
  margin-left: -12px;
}

.navbar-brand img {
  height: 50px;
}

#navbar .nav-link {
  transition: all 0.4s ease-in-out;
}

/* WORKING AREA */

#working-area {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

@media (min-width: 768px) {
  #working-area {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1224px) {
  #working-area {
    grid-template-columns: 1fr 4fr;
  }
}

/* WHO IS COMING SECTION */

#who-is-coming-section {
  padding: 20px;
  min-height: 100vh;
}

#who-is-coming-section .add-participant {
  width: 100%;
}

/* let 'Add Row' button be of the same width as inputs */
@media (min-width: 300px) {
  #who-is-coming-section .container {
    max-width: 100%;
  }
}

/* enable scrollbar on who-is-coming section for large devices */
@media (min-width: 768px) {
  #who-is-coming-section {
    height: 100vh;
    overflow: auto;
  }
}

#addrow:first-letter {
  text-decoration: underline;
}

#who-is-coming-table input {
  text-align: center;
}

.participant-row {
  margin-bottom: 0.5rem;
}

.participant-row input {
  margin: 0.5rem;
  padding: 0;
}

.participant-row button {
  margin: 0.5rem;
  padding: 0;
  height: 3rem;
}

.participant-row ion-icon {
  font-size: 3rem;
  border-radius: 0.25rem;
  border: 0;
}

.add-participant-button {
  margin-bottom: 20px;
}

/* MAP VIEW */

.map-view-section {
  height: 100vh;
  position: relative;
}

#map {
  height: 100%;
}

/* PLUS button for mobile devices to navigate
from MAP view to Who-is-coming section */
.add-participant-float-button {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 30px;
  left: 10px;
  background-color: #62c462;
  /* color: #fff; */
  border-radius: 50px;
  text-align: center;
  z-index: 1;
}

@media (min-width: 768px) {
  .add-participant-float-button {
    visibility: hidden;
  }
}

#central-pin-info-window {
  padding: 0.2rem;
  font-size: 0.9rem;
  color: #000;
  transition: all 1s ease-in-out;
}

/* FOOTER */

footer {
  font-size: 0.7rem;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    text-align: left;
  }
}

footer a,
footer a:visited {
  color: #fff;
}
footer a:hover,
footer a:active {
  color: #5bc0de;
}
