/*---- GLOBAL STYLES ---- */

/* Roboto: clean and functional */
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ---- COMMON ----  */

h1 {
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  font-size: 160%;
  text-transform: uppercase;
}

h2 {
  font-size: 120%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* landing */

header {
  background-image: url("../images/landing-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

/* only display landing page for larger devices */
@media (min-width: 768px) {
  header {
    height: 100vh;
  }
}

/* NAVBAR */

#navbar .nav-link:hover {
  color: #fff;
}

#navbar a.navbar-brand {
  padding-left: 0.1rem;
  padding-top: 0.5rem;
  margin-left: -12px;
}

.navbar-brand img {
  height: 50px;
}

#navbar .nav-link {
  transition: all 0.4s ease-in-out;
}

/* WORKING AREA */

#working-area {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

@media (min-width: 768px) {
  #working-area {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1224px) {
  #working-area {
    grid-template-columns: 1fr 3fr;
  }
}

/* WHO IS COMING SECTION */

#who-is-coming-section {
  padding: 20px;
  min-height: 100vh;
}

/* enable scrippbar on who-is-coming section for large devices */
@media (min-width: 768px) {
  #who-is-coming-section {
    height: 100vh;
    overflow: auto;
  }
}

#addrow:first-letter {
  text-decoration: underline;
}

#who-is-coming-table input {
  text-align: center;
}

.participant-row {
  margin-bottom: 0.5rem;
}

.participant-row input {
  margin: 0.5rem;
  padding: 0;
}

.participant-row button {
  margin: 0.5rem;
  padding: 0;
  height: 3rem;
}

.participant-row ion-icon {
  font-size: 3rem;
  border-radius: 0.25rem;
  border: 0;
}

.add-participant-button {
  margin-bottom: 20px;
}

/* MAP VIEW */

.map-view-section {
  height: 100vh;
}

#map {
  height: 100%;
}

/* FOOTER */

footer {
  background: #fff;
  font-size: 0.7rem;
}
