/*---- GLOBAL STYLES ---- */

/* Roboto: clean and functional */
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ---- COMMON ----  */

h1 {
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
  font-size: 160%;
  text-transform: uppercase;
}

h2 {
  font-size: 120%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* landing */

header {
  background-image: url("../images/landing-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
}

/* NAVBAR */

#navbar .nav-link:hover {
  color: #fff;
}

#navbar .nav-link {
  transition: all 0.4s ease-in-out;
}

/* WHO IS COMING SECTION */

#who-is-coming {
  height: 100vh;
}

#who-is-coming-table input {
  text-align: center;
}

.participant-row {
  margin-bottom: 0.5rem;
}

.participant-row input {
  margin: 0.5rem;
  padding: 0;
}

.participant-row button {
  margin: 0.5rem;
  padding: 0;
  height: 3rem;
}

.participant-row ion-icon {
  font-size: 3rem;
  border-radius: 0.25rem;
  border: 0;
}

/* MAP VIEW */

#who-is-coming {
  height: 100vh;
}

/* FOOTER */

footer {
  background: #fff;
  font-size: 0.7rem;
}
